@import 'tailwindcss';

:root {
  --logo-transition: 0;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;

  min-height: 100dvh;
  margin: 0;

  background-color: whitesmoke;
}
